<a href="https://colab.research.google.com/github/muralianamala/pythonlearning/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String Methods**

In [2]:
#Create a string made of the first, middle and last character
#Write a program to create a new string made of an input stringâ€™s first, middle, and last character.
#i/p str1 = "James"
#o/p Jms

str1 = "James"
print("original string : ", str1)
res = str1[0]

l = len(str1)
mi = int(l/2)

res = res + str1[mi]

res = res + str1[l-1]

print(res)

original string :  James
Jms

# **LISTs METHODS**

In [ ]:
2.

# **TUPLES METHODS**

# **DICTIONARIES METHODS**

# **SET METHODS**

# **Convert Decimal to Binary, Octal and Hexdecimal with direct method**

In [ ]:
# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

# **Arithmetic operators with examples**

# **Assignment operators with examples**

# **Comparison operators with examples.**

# **Logical operators with examples.**

# **Bitwise operators with examples.**

# **Membership operators with examples.**

# **Identity operators with examples**

# **Demonstrate Negative indexing for List and apply slicing.**

# **Predict the output for the given code snippet and justify the result.**



*   print("A series of characters designated as one object known as a string"[::-1][4::3])
*   print("------------")
*   print("welcome to Python training program"[3:10][::-1])

In [ ]:
print("A series of characters designated as one object known as a string"[::-1][4::3])

taawkcbe  tgestrcoeeA

In [ ]:
print("welcome to Python training program"[3:10][::-1])

ot emoc

# **Write a python code to get desired output**



*   input_string: p_phrase="was it a car or a cat I saw"
*   output : WAS I TAC A RO RAC A TI SAW

In [ ]:
s1 = "was it a car or a cat I saw"
print(s1[::-1].upper())

WAS I TAC A RO RAC A TI SAW

You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively.
The generated word similar to ZOO where Y= 2 * X.

*   Input X= 2 Output ZZOOOO
*   Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
S = "ZOO"
X = int(input())

for i in S:
  print(i * X,end="")

5
ZZZZZOOOOOOOOOO

# **Matrix Subtraction, Addition, Multiplication**