<a href="https://colab.research.google.com/github/muralianamala/pythonlearning/blob/main/Assignment-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String Methods**

In [2]:
#Create a string made of the first, middle and last character
#Write a program to create a new string made of an input string’s first, middle, and last character.
#i/p str1 = "James"
#o/p Jms

str1 = "James"
print("original string : ", str1)
res = str1[0]

l = len(str1)
mi = int(l/2)

res = res + str1[mi]

res = res + str1[l-1]

print(res)

original string :  James
Jms

In [4]:
a = "abc"
print(a.capitalize())
print(a)

Abc
abc

In [5]:
def get_middle_three_chars(str1):
  print("Original string is : ",str1)

  mi = int(len(str1)/2)

  res = str1[mi-1:mi + 2]
  print("Middle three chars are : ", res)


get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original string is :  JhonDipPeta
Middle three chars are :  Dip
Original string is :  JaSonAy
Middle three chars are :  Son

In [8]:
#Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.
s1 = "Ault"
s2 = "Kelly"
mi = int(len(s1) /2)
s3 = s1[:mi]+s2+s1[mi:]

print(s3)

AuKellylt

In [9]:
# Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.
s1 = "America"
s2 = "Japan"

mi1 = int(len(s1)/2)
mi2 = int(len(s2)/2)

s3 = s1[0] + s2[0] + s1[mi1:mi1+1] + s2[mi2:mi2+1] + s1[len(s1)-1] + s2[len(s2)-1]
print(s3)

AJrpan

In [20]:
#Arrange string characters such that lowercase letters should come first
str1 = "PyNaTive"
s1=""
s2 = ""
for i in str1:
  if i.isupper():
    s2 += i
  else:
    s1 += i

print(s1 + s2)

yaivePNT

In [22]:
# Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"

l_cnt = 0
d_cnt = 0
s_cnt = 0
for i in str1:
  if i.isdigit():
    d_cnt += 1
  elif i.isalpha():
    l_cnt += 1
  else:
    s_cnt += 1


print("letters count: ",l_cnt, " digits count: ", d_cnt," symbols count: ", s_cnt)

letters count:  8  digits count:  3  symbols count:  4

In [27]:
# Write a program to count occurrences of all characters within a string
#i/p : str1 = "Apple"
#o/p : {'A': 1, 'p': 2, 'l': 1, 'e': 1}

str1 = "Apple"
d1 = {}
cnt = 0
l1 = list(str1)

for i in l1:
  cnt = str1.count(i)
  d1[i] = cnt


print(d1)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [28]:
# Reverse string
str1 = "PYnative"
print(str1[::-1])

evitanYP

In [50]:
#Write a program to find the last position of a substring “Emma” in a given string.
str1 = "Emma is a data scientist who knows Python. Emma works at google."

a = str1.rfind("Emma")
print(a)

43

In [83]:
str = "heLLo"

#Converts the first character to upper case
print(str.capitalize())
#Converts string into lower case
print(str.casefold())
#Returns a centered string
print(str.center(5))
#Returns the number of times a specified value occurs in a string
print(str.count("L"))
#Returns an encoded version of the string
str1= "My name is Ståle"
print(str1.encode())
print(str1.encode(encoding="ascii",errors="backslashreplace"))
print(str1.encode(encoding="ascii",errors="ignore"))
#Returns true if the string ends with the specified value
print(str.endswith("o"))
print(str.endswith("L"))

#Sets the tab size of the string
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

# Searches the string for a specified value and returns the position of where it was found
# The find() method is almost the same as the index() method,
# the only difference is that the index() method raises an exception if the value is not found. (See example below)
print(str.find("o"))

# Formats specified values in a string
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
txt4 = "For only {price:.2f} dollars!".format(price = 49)
print(txt1)
print(txt2)
print(txt3)
print(txt4)

#Formats specified values in a string of dict
# input stored in variable a.
a = {'x':'John', 'y':'Wick'}

# Use of format_map() function
print("{x}'s last name is {y}".format_map(a))

#Searches the string for a specified value and returns the position of where it was found
print(str.index("L"))

# Returns True if all characters in the string are alphanumeric
print(str.isalnum())

# Returns True if all characters in the string are in the alphabet
print(str.isalpha())

# Returns True if all characters in the string are ascii characters (a-z)
print(str.isascii())

# Returns True if all characters in the string are decimals
print(str.isdecimal())
print("1234".isdecimal())

#Returns True if all characters in the string are digits
print(str.isdigit())

# Returns True if the string is an identifier
# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_).
#A valid identifier cannot start with a number, or contain any spaces.
print(str.isidentifier())

# Returns True if all characters in the string are lower case
print(str.islower())

# Returns True if all characters in the string are numeric
print(str.isnumeric())

# Returns True if all characters in the string are printable
print(str.isprintable())

# Returns True if all characters in the string are whitespaces
print(str.isspace())

# Returns True if the string follows the rules of a title
# The istitle() method returns True if all words in a text start with a upper case letter,
# AND the rest of the word are lower case letters, otherwise False.
print(str.title().istitle())

# Returns True if all characters in the string are upper case
print(str.upper().isupper())

# Converts the elements of an iterable into a string
#str.join()
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
y = " ".join(myTuple)
print(x, y)

myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
sep = "SEP"
x = mySeparator.join(myDict)
y = sep.join(myDict.values())
z = sep.join(myDict.keys())
print(x)
print(y)
print(z)

# Returns a left justified version of the string
txt = "banana"
x = txt.ljust(8,"_")
print(x, "is my favorite fruit.")

# Converts a string into lower case
print(str.lower())

# Returns a left trim version of the string
str.lstrip()

# Returns a translation table to be used in translations which is nothing but translate or replace
x = str.maketrans("L","l")
print(str.translate(x))

# Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

#str.removeprefix()
#str.removesuffix()
# Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)
# Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)

str.rindex()
str.rjust()
str.rpartition()
str.rsplit()
str.rstrip()
str.split()
str.splitlines()
str.startswith()
str.strip()
str.swapcase()
str.title()
str.translate()
str.upper()
str.zfill()

Hello
hello
heLLo
2
b'My name is St\xc3\xa5le'
b'My name is St\\xe5le'
b'My name is Stle'
True
False
H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o
4
My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36
For only 49.00 dollars!
John's last name is Wick
2
True
True
True
False
True
False
True
False
False
True
False
True
True
John#Peter#Vicky John Peter Vicky
nameTESTcountry
JohnSEPNorway
nameSEPcountry
banana__ is my favorite fruit.
hello
hello
('I could eat ', 'bananas', ' all day')
I like apples
12

TypeError: ignored

# **LISTs METHODS**

In [ ]:
2.

# **TUPLES METHODS**

# **DICTIONARIES METHODS**

# **SET METHODS**

# **Convert Decimal to Binary, Octal and Hexdecimal with direct method**

In [ ]:
# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

# **Arithmetic operators with examples**

# **Assignment operators with examples**

# **Comparison operators with examples.**

# **Logical operators with examples.**

# **Bitwise operators with examples.**

# **Membership operators with examples.**

# **Identity operators with examples**

# **Demonstrate Negative indexing for List and apply slicing.**

# **Predict the output for the given code snippet and justify the result.**



*   print("A series of characters designated as one object known as a string"[::-1][4::3])
*   print("------------")
*   print("welcome to Python training program"[3:10][::-1])

In [ ]:
print("A series of characters designated as one object known as a string"[::-1][4::3])

taawkcbe  tgestrcoeeA

In [ ]:
print("welcome to Python training program"[3:10][::-1])

ot emoc

# **Write a python code to get desired output**



*   input_string: p_phrase="was it a car or a cat I saw"
*   output : WAS I TAC A RO RAC A TI SAW

In [ ]:
s1 = "was it a car or a cat I saw"
print(s1[::-1].upper())

WAS I TAC A RO RAC A TI SAW

You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively.
The generated word similar to ZOO where Y= 2 * X.

*   Input X= 2 Output ZZOOOO
*   Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
S = "ZOO"
X = int(input())

for i in S:
  print(i * X,end="")

5
ZZZZZOOOOOOOOOO

# **Matrix Subtraction, Addition, Multiplication**