<a href="https://colab.research.google.com/github/muralianamala/pythonlearning/blob/main/Assignment-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **String Methods**

In [ ]:
#Create a string made of the first, middle and last character
#Write a program to create a new string made of an input string’s first, middle, and last character.
#i/p str1 = "James"
#o/p Jms

str1 = "James"
print("original string : ", str1)
res = str1[0]

l = len(str1)
mi = int(l/2)

res = res + str1[mi]

res = res + str1[l-1]

print(res)

original string :  James
Jms

In [ ]:
a = "abc"
print(a.capitalize())
print(a)

Abc
abc

In [ ]:
def get_middle_three_chars(str1):
  print("Original string is : ",str1)

  mi = int(len(str1)/2)

  res = str1[mi-1:mi + 2]
  print("Middle three chars are : ", res)


get_middle_three_chars("JhonDipPeta")
get_middle_three_chars("JaSonAy")

Original string is :  JhonDipPeta
Middle three chars are :  Dip
Original string is :  JaSonAy
Middle three chars are :  Son

In [ ]:
#Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.
s1 = "Ault"
s2 = "Kelly"
mi = int(len(s1) /2)
s3 = s1[:mi]+s2+s1[mi:]

print(s3)

AuKellylt

In [ ]:
# Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.
s1 = "America"
s2 = "Japan"

mi1 = int(len(s1)/2)
mi2 = int(len(s2)/2)

s3 = s1[0] + s2[0] + s1[mi1:mi1+1] + s2[mi2:mi2+1] + s1[len(s1)-1] + s2[len(s2)-1]
print(s3)

AJrpan

In [ ]:
#Arrange string characters such that lowercase letters should come first
str1 = "PyNaTive"
s1=""
s2 = ""
for i in str1:
  if i.isupper():
    s2 += i
  else:
    s1 += i

print(s1 + s2)

yaivePNT

In [ ]:
# Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"

l_cnt = 0
d_cnt = 0
s_cnt = 0
for i in str1:
  if i.isdigit():
    d_cnt += 1
  elif i.isalpha():
    l_cnt += 1
  else:
    s_cnt += 1


print("letters count: ",l_cnt, " digits count: ", d_cnt," symbols count: ", s_cnt)

letters count:  8  digits count:  3  symbols count:  4

In [ ]:
# Write a program to count occurrences of all characters within a string
#i/p : str1 = "Apple"
#o/p : {'A': 1, 'p': 2, 'l': 1, 'e': 1}

str1 = "Apple"
d1 = {}
cnt = 0
l1 = list(str1)
for i in l1:
  cnt = str1.count(i)
  d1[i] = cnt
print(d1)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
# Reverse string
str1 = "PYnative"
print(str1[::-1])

evitanYP

In [ ]:
#Write a program to find the last position of a substring “Emma” in a given string.
str1 = "Emma is a data scientist who knows Python. Emma works at google."

a = str1.rfind("Emma")
print(a)

43

In [ ]:
str = "heLLo"

#Converts the first character to upper case
print(str.capitalize())
#Converts string into lower case
print(str.casefold())
#Returns a centered string
print(str.center(5))
#Returns the number of times a specified value occurs in a string
print(str.count("L"))
#Returns an encoded version of the string
str1= "My name is Ståle"
print(str1.encode())
print(str1.encode(encoding="ascii",errors="backslashreplace"))
print(str1.encode(encoding="ascii",errors="ignore"))
#Returns true if the string ends with the specified value
print(str.endswith("o"))
print(str.endswith("L"))

#Sets the tab size of the string
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

# Searches the string for a specified value and returns the position of where it was found
# The find() method is almost the same as the index() method,
# the only difference is that the index() method raises an exception if the value is not found. (See example below)
print(str.find("o"))

# Formats specified values in a string
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
txt4 = "For only {price:.2f} dollars!".format(price = 49)
print(txt1)
print(txt2)
print(txt3)
print(txt4)

#Formats specified values in a string of dict
# input stored in variable a.
a = {'x':'John', 'y':'Wick'}

# Use of format_map() function
print("{x}'s last name is {y}".format_map(a))

#Searches the string for a specified value and returns the position of where it was found
print(str.index("L"))

# Returns True if all characters in the string are alphanumeric
print(str.isalnum())

# Returns True if all characters in the string are in the alphabet
print(str.isalpha())

# Returns True if all characters in the string are ascii characters (a-z)
print(str.isascii())

# Returns True if all characters in the string are decimals
print(str.isdecimal())
print("1234".isdecimal())

#Returns True if all characters in the string are digits
print(str.isdigit())

# Returns True if the string is an identifier
# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_).
#A valid identifier cannot start with a number, or contain any spaces.
print(str.isidentifier())

# Returns True if all characters in the string are lower case
print(str.islower())

# Returns True if all characters in the string are numeric
print(str.isnumeric())

# Returns True if all characters in the string are printable
print(str.isprintable())

# Returns True if all characters in the string are whitespaces
print(str.isspace())

# Returns True if the string follows the rules of a title
# The istitle() method returns True if all words in a text start with a upper case letter,
# AND the rest of the word are lower case letters, otherwise False.
print(str.title().istitle())

# Returns True if all characters in the string are upper case
print(str.upper().isupper())

# Converts the elements of an iterable into a string
#str.join()
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
y = " ".join(myTuple)
print(x, y)

myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
sep = "SEP"
x = mySeparator.join(myDict)
y = sep.join(myDict.values())
z = sep.join(myDict.keys())
print(x)
print(y)
print(z)

# Returns a left justified version of the string
txt = "banana"
x = txt.ljust(8,"_")
print(x, "is my favorite fruit.")

# Converts a string into lower case
print(str.lower())

# Returns a left trim version of the string
str.lstrip()

# Returns a translation table to be used in translations which is nothing but translate or replace
x = str.maketrans("L","l")
print(str.translate(x))

# Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

#str.removeprefix()
#str.removesuffix()
# Returns a string where a specified value is replaced with a specified value
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)
# Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."
x = txt.rfind("casa")
print(x)

# Searches the string for a specified value and returns the last position of where it was found
#The rindex() method finds the last occurrence of the specified value.
#The rindex() method raises an exception if the value is not found.
#The rindex() method is almost the same as the rfind() method.
txt = "Mi casa, su casa."
x = txt.rindex("casa")
print(x)

# Returns a right justified version of the string-- padding the char's
print(str.rjust(10,"W"))

#Returns a tuple where the string is parted into three parts
#The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.
#The first element contains the part before the specified string.
#The second element contains the specified string.
#The third element contains the part after the string.
txt = "I could day eat bananas all day"
x = txt.rpartition("day")
print(x)

#Splits the string at the specified separator, and returns a list
txt = "apple, banana, cherry"
x = txt.rsplit(", ")
print(x)

#Returns a right trim version of the string
txt = "     banana     "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")

#Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"
x = txt.split()
print(x)

#Splits the string at line breaks and returns a list
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

# Returns true if the string starts with the specified value
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

# Returns a trimmed version of the string
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

# Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"
x = txt.swapcase()
print(x)

# Converts the first character of each word to upper case
print(str.title())

# Returns a translated string
#The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.
#Use the maketrans() method to create a mapping table.
#If a character is not specified in the dictionary/table, the character will not be replaced.
#If you use a dictionary, you must use ascii codes instead of characters.

##use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

# Converts a string into upper case
print(str.upper())

# Fills the string with a specified number of 0 values at the beginning
txt = "50"
x = txt.zfill(10)
print(x)

Hello
hello
heLLo
2
b'My name is St\xc3\xa5le'
b'My name is St\\xe5le'
b'My name is Stle'
True
False
H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o
4
My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36
For only 49.00 dollars!
John's last name is Wick
2
True
True
True
False
True
False
True
False
False
True
False
True
True
John#Peter#Vicky John Peter Vicky
nameTESTcountry
JohnSEPNorway
nameSEPcountry
banana__ is my favorite fruit.
hello
hello
('I could eat ', 'bananas', ' all day')
I like apples
12
12
WWWWWheLLo
('I could day eat bananas all ', 'day', '')
['apple', 'banana', 'cherry']
of all fruits      banana is my favorite
['welcome', 'to', 'the', 'jungle']
['Thank you for the music', 'Welcome to the jungle']
True
of all fruits banana is my favorite
hELLO mY nAME iS peter
Hello
Hello Pam!
Hello Pam!
HELLO
0000000050

# **LISTs METHODS**

*   append()	Adds an element at the end of the list
*   clear()	Removes all the elements from the list
*   copy()	Returns a copy of the list
*   count()	Returns the number of elements with the specified value
*   extend()	Add the elements of a list (or any iterable), to the end of the current list
*   index()	Returns the index of the first element with the specified value
*   insert()	Adds an element at the specified position
*   pop()	Removes the element at the specified position
*   remove()	Removes the first item with the specified value
*   reverse()	Reverses the order of the list
*   sort()	Sorts the list

In [ ]:
# append() Adds an element at the end of the list
l1 = [1,2,3]
l1.append("a")
l1.append("b")
print(l1)

a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

[1, 2, 3, 'a', 'b']
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [ ]:
#clear() Removes all the elements from the list
print(l1)
l1.clear()
print(l1)

[1, 2, 3, 'a', 'b']
[]

In [ ]:
# copy() Returns a copy of the list
print(a)
s = a.copy()
print(s)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [ ]:
# count() Returns the number of elements with the specified value
cnt = s.count("cherry")
print(cnt)

1

In [ ]:
# extend() Add the elements of a list (or any iterable), to the end of the current list
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
# index() Returns the index of the first element with the specified value
print(fruits)
print(fruits.index("BMW"))

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
4

In [ ]:
#insert() Adds an element at the specified position
fruits.insert(1,"berry")
print(fruits)

['apple', 'berry', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
#pop() Removes the element at the specified position
x = fruits.pop(1)
print(x)
print(fruits)

berry
['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
#remove() Removes the first item with the specified value
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
#reverse() Reverses the order of the list
fruits.reverse()
print(fruits)

['Volvo', 'BMW', 'Ford', 'cherry', 'banana', 'apple']

In [ ]:
#sort() Sorts the list
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)
fruits.sort(reverse=False)
print(fruits)

['BMW', 'Ford', 'Volvo', 'apple', 'banana', 'cherry']
['cherry', 'banana', 'apple', 'Volvo', 'Ford', 'BMW']
['BMW', 'Ford', 'Volvo', 'apple', 'banana', 'cherry']

# **TUPLES METHODS**

*   count()	Returns the number of times a specified value occurs in a tuple
*   index()	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
# count() Returns the number of times a specified value occurs in a tuple
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3

# **DICTIONARIES METHODS**

*   clear()	Removes all the elements from the dictionary
*   copy()	Returns a copy of the dictionary
*   fromkeys()	Returns a dictionary with the specified keys and value
*   get()	Returns the value of the specified key
*   items()	Returns a list containing a tuple for each key value pair
*   items()	Returns a list containing a tuple for each key value pair
*   keys()	Returns a list containing the dictionary's keys
*   pop()	Removes the element with the specified key
*   popitem()	Removes the last inserted key-value pair
*   setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
*   update()	Updates the dictionary with the specified key-value pairs
*   values()	Returns a list of all the values in the dictionary

In [ ]:
# clear() Removes all the elements from the dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}

In [ ]:
# Returns a copy of the dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# fromkeys() Returns a dictionary with the specified keys and value
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)

x = ('key1', 'key2', 'key3')
thisdict = dict.fromkeys(x)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}
{'key1': None, 'key2': None, 'key3': None}

In [ ]:
# The get() method returns the value of the item with the specified key.
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("price", 15000)
y = car.get("model", "Default")
print(y, x)

Mustang 15000

In [ ]:
# Returns a list containing a tuple for each key value pair
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for k,v in car.items():
  print(k, v)

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.items()
car["year"] = 2018
print(x)

brand Ford
model Mustang
year 1964
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

In [ ]:
# Returns a list containing the dictionary's keys
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for i in car.keys():
  print(i, end=" ")
x = car.keys()
print(x)

brand model year dict_keys(['brand', 'model', 'year'])

In [ ]:
#pop Removes the element with the specified key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
b = car.pop("model")
print(b)
print(car)
a = car.pop("xyz","not found")
print(car)
print(a)

Mustang
{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford', 'year': 1964}
not found

In [ ]:
#popitem(): Removes the last inserted key-value pair
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
a = car.popitem()
print(a)
print(car)

('year', 1964)
{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
#setdefault() : Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("model", "Bronco")
n = "Brown"
y = car.setdefault("color", n)
print(x)
print(car)

Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Brown'}

In [ ]:
#update() : Updates the dictionary with the specified key-value pairs
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [ ]:
#values() : Returns a list of all the values in the dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.values()
print(x)
car["year"] = 2018
print(x)

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2018])

# **SET METHODS**

*   add()	Adds an element to the set
*   clear()	Removes all the elements from the set
*   copy()	Returns a copy of the set
*   difference()	Returns a set containing the difference between two or more sets
*   difference_update()	Removes the items in this set that are also included in another, specified set
*   discard()	Remove the specified item
*   intersection()	Returns a set, that is the intersection of two or more sets
*   intersection_update()	Removes the items in this set that are not present in other, specified set(s)
*   isdisjoint()	Returns whether two sets have a intersection or not
*   issubset()	Returns whether another set contains this set or not
*   issuperset()	Returns whether this set contains another set or not
*   pop()	Removes an element from the set
*   remove()	Removes the specified element
*   symmetric_difference()	Returns a set with the symmetric differences of two sets
*   symmetric_difference_update()	inserts the symmetric differences from this set and another
*   union()	Return a set containing the union of sets
*   update()	Update the set with another set, or any other iterable

In [ ]:
# add()
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
fruits.add("orange")
print(fruits)

{'banana', 'cherry', 'apple', 'orange'}

In [ ]:
# clear() : Removes all the elements from the set
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)
print(type(fruits))

set()
<class 'set'>

In [ ]:
#copy(): Returns a copy of the list
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'cherry', 'apple', 'banana'}

In [ ]:
#difference(): Returns a set containing the difference between two or more sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
a = y.difference(x)
print(z, a)

{'cherry', 'banana'} {'google', 'microsoft'}

In [ ]:
#difference_update(): Removes the items in this set that are also included in another, specified set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'cherry', 'banana'}

In [ ]:
#discard(): Remove the specified item
# This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [ ]:
#intersection(): Returns a set, that is the intersection of two or more sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)
print(x)

{'apple'}
{'cherry', 'apple', 'banana'}

In [ ]:
#intersection_update(): Removes the items in this set that are not present in other, specified set(s)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
#isdisjoint(): Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [ ]:
#issubset(): Returns whether another set contains this set or not
# method returns True if all items in the set exists in the specified set, otherwise it returns False.
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

In [ ]:
#issuperset(): Returns whether this set contains another set or not
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [ ]:
#pop(): Removes an element from the set
fruits = {"apple", "banana", "cherry"}
x = fruits.pop()
print(fruits, x)

{'apple', 'banana'} cherry

In [ ]:
# remove(): Removes the specified element
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
#fruits.remove("orange") - throws an error, if element not present
print(fruits)

{'cherry', 'apple'}

In [ ]:
# symmetric_difference(): Returns a set with the symmetric differences of two sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'cherry', 'google', 'microsoft'}

In [ ]:
#symmetric_difference_update(): inserts the symmetric differences from this set and another
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'banana', 'cherry', 'google', 'microsoft'}

In [ ]:
#union(): Return a set containing the union of sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)
a = {"a", "b", "c"}
b = {"f", "d", "a"}
c = {"c", "d", "e"}
result = a.union(b, c)
print(result)

{'cherry', 'apple', 'banana', 'google', 'microsoft'}
{'f', 'd', 'e', 'b', 'c', 'a'}

In [ ]:
#update(): Update the set with another set, or any other iterable
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'cherry', 'apple', 'banana', 'google', 'microsoft'}

# **Convert Decimal to Binary, Octal and Hexdecimal with direct method**

In [ ]:
# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

# **Arithmetic operators with examples**

*   '+'	Addition	x + y
*   '-'	Subtraction	x - y
*   '*'	Multiplication	x * y
*   '/'	Division	x / y
*   '%'	Modulus	x % y
*   '**'	Exponentiation	x ** y
*   '//'	Floor division	x // y

In [ ]:
a = 5
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

9
1
20
1.25
1
625
1

# **Assignment operators with examples**

*   =
*   +=
*   -=
*   *=
*   /=
*   %=
*   //=
*   **=
*   &=
*   |=
*   ^=
*   '>>='
*   <<=

=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
'>>='	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3

In [ ]:
x = 5
x += 6
print(x)
x -= 3
print(x)
x *= 2
print(x)
x /= 5
print(x)
x %= 4
print(x)
x = 5
x //= 3
print(x)
x = 5
x **= 3
print(x)
x = 5
x &= 3
#(101 & 011 = 001)
print(x)
x = 5
x |= 3
#(101 | 011 = 111)
print(x)
x = 5
x ^= 3
#(101 ^ 011 = 110=6)
print(x)
x = 5
x >>= 3
#(5 >> 3)
print(x)
x = 5
x <<= 3
 #(5 << 3)
print(x)

11
8
16
3.2
3.2
1
125
1
7
6
0
40

# **Comparison operators with examples.**

*   ==	Equal	x == y
*   !=	Not equal	x != y
*   '>'	Greater than	x > y
*   <	Less than	x < y
*   '>='	Greater than or equal to	x >= y
*   <=	Less than or equal to	x <= y

In [ ]:
x = 5
y = 3
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

# **Logical operators with examples.**

*   and 	Returns True if both statements are true	x < 5 and  x < 10
*   or	Returns True if one of the statements is true	x < 5 or x < 4
*   not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [ ]:
print( x<5 and x<10)
print(x<5 or x<10)
print(x)
print(not(x<5 and x<10))

False
True
5
True

# **Bitwise operators with examples.**

& 	AND	Sets each bit to 1 if both bits are 1	x & y
|	OR	Sets each bit to 1 if one of two bits is 1	x | y
^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y
~	NOT	Inverts all the bits	~x
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2

# **Membership operators with examples.**

in 	Returns True if a sequence with the specified value is present in the object	x in y
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

# **Identity operators with examples**

is 	Returns True if both variables are the same object	x is y
is not	Returns True if both variables are not the same object	x is not y

# **Demonstrate Negative indexing for List and apply slicing.**

# **Predict the output for the given code snippet and justify the result.**



*   print("A series of characters designated as one object known as a string"[::-1][4::3])
*   print("------------")
*   print("welcome to Python training program"[3:10][::-1])

In [ ]:
print("A series of characters designated as one object known as a string"[::-1][4::3])

taawkcbe  tgestrcoeeA

In [ ]:
print("welcome to Python training program"[3:10][::-1])

ot emoc

# **Write a python code to get desired output**



*   input_string: p_phrase="was it a car or a cat I saw"
*   output : WAS I TAC A RO RAC A TI SAW

In [ ]:
s1 = "was it a car or a cat I saw"
print(s1[::-1].upper())

WAS I TAC A RO RAC A TI SAW

You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively.
The generated word similar to ZOO where Y= 2 * X.

*   Input X= 2 Output ZZOOOO
*   Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
S = "ZOO"
X = int(input())

for i in S:
  print(i * X,end="")

5
ZZZZZOOOOOOOOOO

# **Matrix Subtraction, Addition, Multiplication**