<a href="https://colab.research.google.com/github/muralianamala/pythonlearning/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x='genzeon'
print(x[0])
print(x[-4])
print(x[1:])
print(x[0:8:2])
print(x[::-1])

g
z
enzeon
gnen
noezneg

In [9]:
#string operations
str1="hello"
str2="world"

str3 = str1+str2
print(str3)
str4 = str3*2
print(str4)

helloworld
helloworldhelloworld

In [14]:
my_str="we are learning"
#indexing
mylist1=[1,2,34]
mylist2=[1,"helllo",3.1]
mylist3=["w","e","l","c","o","m","e"]

n_list=["hello",mylist1,mylist2,mylist3]

print(n_list[2][2])

#list methods
li=[1,2,3]
li.append(4)

print(li)

l1=[2,5,6,9,2,2,6,10,17,99]
print(len(l1))

print(l1.count(2))

l1.sort()
print(l1)

3.1
[1, 2, 3, 4]
10
3
[2, 2, 2, 5, 6, 6, 9, 10, 17, 99]

In [22]:
#tuples
tup1=(1,2,3,4)
tup2=(3,4,5,6)
tup3=("hi",1.0,5)
tup4=("hi","hello","hloo")
ntup=("genzeon",tup1,tup2,tup3,tup4)

print(ntup[0])
print(ntup[3][1])
print(ntup[0][::-1])

#tuple methods
print(tup1.count(1))
print(tup1.index(2))
print(max(tup1))

genzeon
1.0
noezneg
1
1
4

In [ ]:
#sets - should be unique

In [4]:
#string formats
name="genzeon"
lan="python"
year=2023

print(name,"is teaching",lan,"programming in",year)
print("{} is teaching {} programming in {}".format(name,lan,year))

#placeholder

#rawstring
print(f"{name} is teaching {lan} programming in {year} ")

genzeon is teaching python programming in 2023
genzeon is teaching python proframming in 2023
genzeon is teaching python programming in 2023

In [ ]:
a=input("enter string")
print(a)
b=int(input("enter any number"))
print(b)

In [6]:
#conditional statement
a=100
if a>0:
  print("true")
  print(a)

b=-1
if b>0:
    print("true")
else:
  print("flase")

true
100
flase

In [7]:
#nested if
age=int(input("enter person's age"))
if age>3 and age<=100:
  if age<15:
    print("half ticket")
  elif age==15 & age<60:
    print("full ticket")
  elif age>60:
    print("discounted price")

enter person's age62
discounted price

In [12]:
#loops
#list
num=[1,2,6,7,3,7,9,4]
sum=0
for i in num:
    sum+=i
print(sum)
for i in range(1,11,2):
  print(i)

39
1
3
5
7
9

In [13]:
x=[[12,7,3],
  [4,5,6],
  [7,8,9]]

y=[[5,8,1],[0,0,1],[0,0,0]]

temp=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    temp[i][j]=x[i][j]+y[i][j]

print(temp)

[[17, 15, 4], [4, 5, 7], [7, 8, 9]]

In [14]:
#while
count=0
while(count<11):
  print("the count is", count)
  count+=1

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
the count is 9
the count is 10

In [16]:
#nested while
num=int(input("enter the last table that you need"))
i=1
while(i<num):
  print(f"table {i}")
  j=1
  while(j<=10):
    print(f"{i}+{j}={i+j}")
    j+=1
  print("__________________")
  i+=1

enter the last table that you need9
table 1
1+1=2
1+2=3
1+3=4
1+4=5
1+5=6
1+6=7
1+7=8
1+8=9
1+9=10
1+10=11
__________________
table 2
2+1=3
2+2=4
2+3=5
2+4=6
2+5=7
2+6=8
2+7=9
2+8=10
2+9=11
2+10=12
__________________
table 3
3+1=4
3+2=5
3+3=6
3+4=7
3+5=8
3+6=9
3+7=10
3+8=11
3+9=12
3+10=13
__________________
table 4
4+1=5
4+2=6
4+3=7
4+4=8
4+5=9
4+6=10
4+7=11
4+8=12
4+9=13
4+10=14
__________________
table 5
5+1=6
5+2=7
5+3=8
5+4=9
5+5=10
5+6=11
5+7=12
5+8=13
5+9=14
5+10=15
__________________
table 6
6+1=7
6+2=8
6+3=9
6+4=10
6+5=11
6+6=12
6+7=13
6+8=14
6+9=15
6+10=16
__________________
table 7
7+1=8
7+2=9
7+3=10
7+4=11
7+5=12
7+6=13
7+7=14
7+8=15
7+9=16
7+10=17
__________________
table 8
8+1=9
8+2=10
8+3=11
8+4=12
8+5=13
8+6=14
8+7=15
8+8=16
8+9=17
8+10=18
__________________

In [20]:
#contorl statements

#break

for i in "python":
  if i=='h':
    break
  print("current letter",i)
print("___________________")
#continue
for i in "python":
  if i=='h':
    continue
  print("current letter",i)
print("_________________")
#pass
for i in "python":
  if i=='h':
    pass
  print("current letter",i)

current letter p
current letter y
current letter t
___________________
current letter p
current letter y
current letter t
current letter o
current letter n
_________________
current letter p
current letter y
current letter t
current letter h
current letter o
current letter n

In [21]:
#functions
def greet(name):
  '''this function greets a person'''
  print("hello \t"+name+"\t good morning")

greet("murali")

hello 	murali	 good morning

In [24]:
#default
def A(a,b=3,c=2):
  return a+b+c
print(A(2,2,0))

#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3,c=4))

#positional
def A(a,b,c):
  return a+b+c
print(A(2,3,4))

4
9
9

In [32]:
#arbitrary positional
def add_num(*n):
  print(n)
  print(sum(n))

print(add_num(1,2,3))

(1, 2, 3)

TypeError: ignored

In [33]:
#arbitrary keyword
def key_arg(**kwargs):
  return(kwargs)

my_dict=key_arg(apples=10,banana=20,grapes=30)
print(my_dict)

{'apples': 10, 'banana': 20, 'grapes': 30}