<a href="https://colab.research.google.com/github/muralianamala/pythonlearning/blob/main/LearningPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INTRO TO PYTHON

In [ ]:
#easy to understand, general purpose programming language
# Guido van Rossum in 1993
#advantages
#1. easy to code, 2. improve productivity, 3. vast library support, 4. lot of carrer options, 5. used almost everywhere
# google, youtube, netflix, instgram
#ai and ml, data analytics, programming applications, web development, game development and more

In [ ]:
#overall structure
print("hello world")

hello world

In [ ]:
#variables
#variables are place holders to store the data
#variable_name(identifier) (assign operator =) value to be assigned
#variable must start with a letter or underscore
#variable can not start with number
#can contain alpha numeric and underscore (A-z,0-9, _)
#case sensitive
#inbuild keywords should not be used as identifier
a=5
print(a)
murali_12 = "Murali"
print(murali_12)

5
Murali

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
help("elif")

The "if" statement
******************

The "if" statement is used for conditional execution:

   if_stmt ::= "if" assignment_expression ":" suite
               ("elif" assignment_expression ":" suite)*
               ["else" ":" suite]

It selects exactly one of the suites by evaluating the expressions one
by one until one is found to be true (see section Boolean operations
for the definition of true and false); then that suite is executed
(and no other part of the "if" statement is executed or evaluated).
If all expressions are false, the suite of the "else" clause, if
present, is executed.

Related help topics: TRUTHVALUE

# **Memory Allocation**

In [ ]:
#memory allocation
x=5
y=6
#variables store STACK memory
#values store in HEAP memory
#both stored in memory
#reference
#Id functions
id(x)
print(id(x))

137396557562224

In [ ]:
x= 45
print(id(x))

137396557563504

In [ ]:
print(137396557562224)

137396557562224

In [ ]:
name = "Murali"
print(id(name))

137395510420336

# **COMMENTS**

In [ ]:
#comments
# -- comment of single line

# **DATATYPES**

In [ ]:
#data types
#int, float,boolean, strings and none
n1 = 24
print(n1)
# type
print(type(n1))
print("a")

#float
f=1.0
print(type(f))

f1 = 2.23
print(type(f1))

#Booleans (True & False)
b= True
print(type(b))

b1= False
print(type(b1))

#b2 = true

#Strings
# should contain within quotes (',",""",''')
a="Murali 1234 learning python 2023"
print(type(a))
#multi line comments
m= """ multi line string

"""
print(m)
print(type(m))


# None ( no value nothing)
n = None
print(type(n))
print(n)

24
<class 'int'>
a
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>
 multi line string


<class 'str'>
<class 'NoneType'>
None

# **INPUT FUNCTION**

In [ ]:
#input functions
name=input()
print(name)
print(type(name))

murali
murali
<class 'str'>

In [ ]:
# number as input
x=int(input())

6

In [ ]:
print(x)
print(type(x))

6
<class 'int'>

In [ ]:
#type conversion
x
y = float(x)
print(type(y))

c =float("1.5")
type(c)
print(type(int(c)))

<class 'float'>
<class 'int'>

# **PRINT FUNCTION**

In [ ]:
#print function
print("murali")
print("murali","manogna","sabitha",12,3,2234,end='\t')

murali
murali manogna sabitha 12 3 2234

In [ ]:
#changing default seperator and end

print("murali","manogna","sabitha",12,3,2234,sep='',end='\t')
print("murali","manogna","sabitha",12,3,2234,sep=',',end='\t')
print("murali","manogna","sabitha",12,3,2234,sep='\n',end='\t')

muralimanognasabitha1232234	murali,manogna,sabitha,12,3,2234	murali
manogna
sabitha
12
3
2234

In [ ]:
def con(str1,str2):
  return print(str1,str2,sep="")

con("murali","manogna")

muralimanogna

# **OPERATORS**

In [ ]:
#python operators
#operators
#operand
#arithmatic operators

#addition
print(10+5)
#substraction
print(10-5)
#division
print(10/5)
#mod (%)
print(10 % 5)
#multiplication
print(10* 5)
#floor division (//)
print(10//5)
#to the power (**)
print(10 ** 5)

15
5
2.0
0
50
2
100000

In [ ]:
print(1.5+1)
#string concatenation
print("murali"+"anamala")
print("murali" * 3)

2.5
muralianamala
muralimuralimurali

In [ ]:
#modulus operators (%)

print(5%3)
print(10%10)
#floor division -- nearest small integer
print(5 // 3)
print(-3//2)

2
0
1
-2

# **LOGICAL OPERATORS**

In [ ]:
#logical comparision operators
"""
== equal
!= not equal
< less than
> greater than
<= less than or equal to
>= greater than equal to
"""

'\n== equal\n!= not equal\n< less than\n> greater than\n<= less than or equal to\n>= greater than equal to\n'

# **ASSIGNMENT OPERATORS**

In [ ]:
#assignment operators
"""
=
-=
+=
/=
*=
"""

# **SPECIAL OPERATORS**

In [ ]:
#logical operator
"""
and
or
not
"""

#special operators
"""
in
is
operators
"""

name="murali"
"r" in name
"R" in name
"ila" in name

#is operator tells you if both the object are at same memory location
a=5
b=5
print(id(a),id(b))
a is b

a= 34
b= 45

print(id(a), id(b))

a is b

136970031497584 136970031497584
136970031498512 136970031498864

False

In [ ]:
print(0 or 1)

1

# **IF-ELSE**

In [ ]:
#control flow statement
#if-else
#indentation
age=int(input())

if age>18:
  print(f"you can drive")
else:
  print(f"wait till you turn 18")

20
you can drive

# **NESTED IF**

In [ ]:
#nested if
age=int(input())
if age > 18:
  if age>=65:
    print(f"Take care")
  else:
      print(f"you are elgible")
else:
  print(f"wait till turn 18")

18
wait till turn 18

In [ ]:
#if, elif, else
num=int(input())
if num>0:
  print(f"+ve")
if num == 0:
  print(f"zero")
else:
  print(f"-ve")

12
+ve
-ve

In [ ]:
num=int(input())
if num>0:
  print(f"+ve")
elif num == 0:
  print(f"zero")
else:
  print(f"-ve")

-1
-ve

In [ ]:
marks=[90,30,100,50,80,95]
highest=marks[0]
for i in marks:
  #print(i)
  if i > highest:
    highest = i

print(highest)

100

In [ ]:
#max function
max(marks)
min(marks)

30

In [ ]:
#grading system
"""
A: >= 90
B: =80 and <90
C: =70 and <80
D: =60 and <70
E: <60
"""
#marks=[90,30,100,50,80,95]
marks = int(input())
if marks>=90 and marks<=100:
  print(f"grade A")
elif marks>=80 and marks<90:
  print(f"grade B")
elif marks>=70 and marks<80:
  print(f"grade C")
elif marks>=60 and marks<70:
  print(f"grade D")
elif marks<60:
  print(f"grade E")
else:
  print(f"invalid")

120
invalid

In [ ]:
#leap year
def solve(A):
    if (A%400 ==0 ) and (A%100  == 0):
      return 1
    elif (A%4 == 0) and (A%100 != 0):
      return 1
    else: return 0

solve(2000)
solve(2040)
solve(2023)

0

In [ ]:
#Given a positive integer A, return an array of strings with all the integers from 1 to N.
#But for multiples of 3 the array should have “Fizz” instead of the number.
#For the multiples of 5, the array should have “Buzz” instead of the number.
#For numbers which are multiple of 3 and 5 both, the array should have "FizzBuzz" instead of the number.

def fizzBuzz(A):
  result = []
  for i in range(1, A+1):
    if i%3==0 and i%5 ==0:
      result.append("FizzBuzz")
    elif i%3 ==0:
      result.append("Fizz")
    elif i%5 == 0:
      result.append("Buzz")
    else:
      result.append(str(i))
  return result

fizzBuzz(15)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

# **LOOPS**

In [ ]:
#Loops
##for
#while
i =1
while i <= 6:
  print(f"hey")
  i+=1

hey
hey
hey
hey
hey
hey

In [ ]:
#print numbers 1 to 10
i = 1
while i<=10:
  print(i, end=" ")
  i+=1

#print all even numbers from 1 to 10
i = 0
while i<= 10:
  if i%2 == 0:
    print(i,end=" ")
  i+=1

#print sum all numbers 1 to 10
i = 0
sum = 0
while i <= 10:
  sum += i
  i += 1
print(sum)

1 2 3 4 5 6 7 8 9 10 0 2 4 6 8 10 55

# **RANGE FUNCTION**

In [ ]:
#range function
#range function allows users to generate series of numbers
#it is iterable as well
print(list(range(0,5,2)))
print(list(range(10,50,10)))
print(list(range(1,5)))
#start is included and end is excluded
print(list(range(3,5)))

[0, 2, 4]
[10, 20, 30, 40]
[1, 2, 3, 4]
[3, 4]

In [ ]:
print(list(range(10,0,-1)))
print(list(range(-1,10)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#iterable iterator and iteration
#for loop
#for iterator in iterable:
#---- body
#range is iterable
sum=0
for i in range(1,11):
  print(i,end=" ")
  sum+=i
print(sum)

1 2 3 4 5 6 7 8 9 10 55

In [ ]:
#multiplication table of 5
num = int(input())
for i in range(1,11):
  print(num*i, end=" ")

5
5 10 15 20 25 30 35 40 45 50

In [ ]:
#pattern
#n=4
# # # #
# # # #
# # # #
# # # #

n = int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    print('#', end= " ")
  print()

5
# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
#n=4
#
# #
# # #
# # # #
n = int(input())
for i in range(1,n+1):
  for j in range(i):
    print("#", end=" ")
  print()

4
#
# #
# # #
# # # #

# **BREAK, CONTINUE and PASS**

In [ ]:
#Break: breaks the folow of program once this condition is hit
#continue: it skips that particular section
#pass: to avoid syntax erros
for i in range(1,11):
  pass

def func():
  pass

# Continue
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
#break
for i in range(1,11):
  if i==5:
    break
  print(i)

i = 1
while i < 10:
  if i == 5:
    break
  print(i)
  i+=1

1
2
3
4
1
2
3
4

In [ ]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,(n-i+1)):
    print("",end=" ")
  print("*" * (i+(i-1)))

7
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [ ]:
#prime number
n = int(input())
a = False
if n == 1:
  print(a)
elif n > 1:
  for i in range(2,n):
    if (n % i) == 0:
      a = True
      break
  if a:
    print(False)
  else:
    print(True)

1
False

# **Strings**

In [ ]:
#string is a sequence of characters
#ord and chr
ord("1")
chr(49)
chr(2325)

'क'

## **INDEXING**

In [ ]:
#indexing in strings
name="murali anamala"
#indexing ---> 0---     --,-1 <--
name[0]

'm'

In [ ]:

name[:-1]
#reverse the string
name[::-1]
len(name)
print(name[-len(name)])

m

## **SLICING**

In [ ]:
#string slicing [start:end:jump]
name="murali anamala"
name[3::1]
print(name[-1:-(len(name) + 1):-1])
print(name[::-1])

alamana ilarum
alamana ilarum

## **String Methods**

In [ ]:
#capitalize
"""
capitalize
title
upper
lower
find
count
index
replace
split
islower
isupper
isnumeric
isalpha
"""
name

<built-in method capitalize of str object at 0x7b587dc62ab0>
<built-in method lower of str object at 0x7b587dc62ab0>
<built-in method count of str object at 0x7b587dc62ab0>

In [ ]:
"""print(name.capitalize)
print(name.lower)
print(name.count)"""
name.capitalize()
a=1
print(name.capitalize())
print(name.lower())
print(name.count("a"))
print(name.find("a"))
print(name.index("a"))
print(name.replace("a","z"))
print(name.split("a"))
print(name.split())
print(name.upper().isupper())
print(name.lower().islower())
print(name.isnumeric())
"1".isnumeric()
"1a23".isalpha()
#"1".isaplha()

Murali anamala
murali anamala
5
3
3
murzli znzmzlz
['mur', 'li ', 'n', 'm', 'l', '']
['murali', 'anamala']
True
True
False

False

## **FORMAT**

In [ ]:
#string format
name=input()
age=input()

print(f"my name is {name} and age is {age}")

murali
39
my name is murali and age is 39

In [ ]:
#string concatenation
first=input()
second=input()

print(first +" "+ second)

murali
anamala
murali anamala

In [ ]:
#print vowels
text="The quick brown fox jumps over the lazy dog"
for i in text:
  if i in ('a','e','i','o','u','A','E','I','O','U'):
    print(i, end=" ")

e u i o o u o e e a o

In [ ]:
#palandrom
s = input()

# rev is-> s[::-1] is reversal
if s == s[::-1]:
  print(True)
else: print(False)

mom
True

In [ ]:
n1 = input()
n2 = input()

u_n1 = set(n1.lower().split())
u_n2 = set(n2.lower().split())
a = len(u_n1) + len(u_n2)
print(a)

in data analysis we use data and process it further to create better interpreted data
more and more data will be passively collected
20

# **LISTS**

In [ ]:
#Data Structures
# A DS is specialized format for organizing, processing, retrieving and stroring data
#lists
#dictionaries
#sets
# tuples

#LISTS
"""
Ordered collection of data
mutalble types
can contian multiple type of data
changable
iterable
supports indexing
"""
l =list()
print(type(l))

l1=[1,2,3,4,5]
print(type(l1))
print(l1)
len(l1)
print(l1[::-1])
print(l1[-1::])
print(l1[:-1:])

#mutability
l1.append(6)
print(l1)
print(id(l1))
l1[0] = 9
print(l1)
print(id(l1))
for i in l1:
  print(i)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
135619997295872
[9, 2, 3, 4, 5, 6]
135619997295872
9
2
3
4
5
6

## **SLICING**

In [ ]:
#list slicing
l1
len(l1)
l1[0:3]
l1[::-1]
l1[-1:]
l1[:-1:2]
l1[::-1]
l1[5]
l1[5:0:-1]

[6, 5, 4, 3, 2]

## **LIST OPERATIONS**

In [ ]:
#list operations
"""
count
index
pop
remove
sort
insert
append
extend
"""
b=[100,200,150,500,100]
#count of value in a list
b.count(100)
#position of a value
b.index(500)
#removes the last element in a list
#a = b.pop()
print(b)
#print(a)
#removes from first element
#b.remove(100)
print(b)
#sorting in asc order
b.sort()
print(b)
#insert will work with index and value
b.insert(1,300)
print(b)

[100, 200, 150, 500, 100]
[100, 200, 150, 500, 100]
[100, 100, 150, 200, 500]
[100, 300, 100, 150, 200, 500]

In [ ]:
#append and extend
l =[1,2,3,4,5]
l.append("murali")
l
l.append(2)
l1 = [2,3,4]
#l.append(l1)
l

#extend
l.extend(l1)
l

#for i in l:
#  print(i, end=" ")

l
s = "murali"
l.extend(s)
l

[1, 2, 3, 4, 5, 'murali', 2, 2, 3, 4, 'm', 'u', 'r', 'a', 'l', 'i']

In [ ]:
#Heterogenous list
#different datatypes in the list
l= [1, "murali", 2.5, True]
l
type(l)
print(type(l[0]))
print(type(l[1]))
print(type(l[2]))
print(type(l[3]))
print(type(l))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>

In [ ]:
#2-D list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

l= [l1,l2,l3]
print(l)

#indexing
l[1][::-1]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[6, 5, 4]

In [ ]:
#iteration on 2-d list
for i in l:
  #print(i)
  for j in i:
    print(j,end=" ")

1 2 3 4 5 6 7 8 9

## **COMPREHENSION**

In [ ]:
#list comprehension
l=[]
for i in range(10):
  l.append(i)
print(l)

l = [i**2 for i in range(10)]
print(l)

x = [i*i for i in range(1,11)]
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
I =[4,6,5,8,9,3,2,4,5,4,3,2,3,4]
sum=0
for i in I:
  sum+=i

print(sum)

62

In [ ]:
'''
Write a program to input N numbers array, A from the user and an integer X and print the array by deleting element at specified position X.

Note: The first element is located at position 1, the second element is located at position 2, and so on.


Problem Constraints
2 <= N <= 100
1 <= A[i] <= 1000
1 <= X <= N


Input Format
First line is N which means number of elements.
Second line contains N space separated integers.
Third line is X position which has to be deleted.


Output Format
N-1 space separated integers of the input array after deleting the element at required position.


Example Input
Input 1:
5
2 3 1 4 2
3
Input 2:
2
4 5
2


Example Output
Output 1:
2 3 4 2
Output 2:
4
'''
N = int(input())
l=[]
for i in range(N):
  x = int(input())
  l.append(x)

print(l)

y= int(input())
l.pop(y-1)
print(l)

5
3
4
5
2
1
[3, 4, 5, 2, 1]
3
[3, 4, 2, 1]

In [ ]:
#find out second largest element in a list
A=[1,2,3,4,6]
a=A[0]
if len(A) == 1:
  a = -1
else:
  for i in A:
    if a > i:
      a = i
    else:
      continue

print(a)

1

In [ ]:
A = [[1,0],[0,1]]
B = [[0,0,1],[0,1,0],[1,0,0]]
#print(A[0][0])
n = len(B)

def is_identity_matrix(B):
  for i in range(n):
    for j in range(n):
      if (i == j and B[i][j] == 1):
        return
      elif i != j and B[i][j] !=0:
        print("0")

0
0
0
0
1

In [ ]:
word = "Scaler Data Science Course"
word_list = list(word.split())
print(word_list[1:3])

['Data', 'Science']

# **TUPLES**

In [ ]:
#like list tuples are also ordered collection of data
#--- follow indexing
#Unchangable -- immutable
#Iterable
#can be heterogenuos

#
planets =["Mercury","Venus","Earth","Mars","Jupiter","Saturn","uranus"]

print(planets)

t = ("Mercury","Venus","Earth","Mars","Jupiter","Saturn","uranus")
type(t)
#indexing and slicing
#tuplese are immutable (only the difference btwn lists and tuple)
#once it creates dont change

t=("Murali",1,2.5,True)
print(t)
print(type(t[0]))
type(t[1])
type(t[2])
type(t[3])

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'uranus']
('Murali', 1, 2.5, True)
<class 'str'>

bool

In [ ]:
#how to create a tuples
t = ()
type(t)
t1 = tuple()
type(t1)
print(t,t1)

#non empty tuple
t = (2,)
type(t)

t5 = tuple("Murali")
t5

() ()

('M', 'u', 'r', 'a', 'l', 'i')

## **MUTABILITY**

In [ ]:
#Mutability in tuples
t = (2,3,4)
l = list(t)
l[0] = 1
print(l,t)

t1 = ([1,2,3,4], "Murali")
type(t1[0])
t1[0][0] = 4
print(t1)

[1, 3, 4] (2, 3, 4)
([4, 2, 3, 4], 'Murali')

## **UNPACKING**

In [ ]:
#Unpacking tuple
a=3
b=4
c=5
d=1
print(a,b,c,d)

a,b,c,d = (1,2,3,4)

print(a,b)

t = (1,2,3,4)
a,b,c,d = t
print(a,b,c,d)

# THIS PROCESS is know as UNPACKING

3 4 5 1
1 2
1 2 3 4

## **OPERATIONS**

In [ ]:
#Tuple Operations
t =(1,2,3)
t.count(1)
t.index(1)
#t.index?

#Iterations
t
len(t)
for i in t:
  print(i)
#concatenation
# +, *
t1 = (5,6)
t3 = t + t1
print(t3)
t4 = t * 2
print(t4)

# tuple to list and list to tuple
lst = list(t)
type(lst)

t = tuple(lst)
type(t)

1
2
3
(1, 2, 3, 5, 6)
(1, 2, 3, 1, 2, 3)

tuple

In [ ]:
def get_index(tup,elem):
  if elem not in tup:
    return -1
  else:
    return tup.index(elem)

get_index((10, 20, 30, 40, 50),80)

-1

In [ ]:
"""
Write a program to divide a given tuple into two tuples that contain even and odd indexed elements of the original tuple. Print both these tuples in the given output format.

Note: The input tuple follows 1-based indexing. This means the element at index 0  is treated as having index as 1.

For example, (9,2,3). The 1-based index of 2 is 2.

Input Format:

The input contains a tuple as an argument to the function.
Output Format:

Print two tuples one for odd indexed elements and another for even indexed elements in the following format:
Odd: (....)
Even: (....)
"""

def odd_even_tuple(tup):
  odd_tuple = tup[::2]
  even_tuple = tup[1::2]

  print(f"odd: {odd_tuple}")
  print(f"even: {even_tuple}")

odd_even_tuple((10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2))

odd: (10, 5, 10, 10, 5, 8)
even: (8, 2, 15, 8, 8, 2)

# **DICTIONARY**

In [ ]:
# it has key-value pairs
# are ordered from 3.7 above
#doent support indexing
#can be accessed using key
#creating a dict
d = {}
type(d)

#a = dict()
#type(a)

fruits = {
    "Apple" : 120,
    "Orange" : 20,
    "pineapple" : 90
}

type(fruits)
fruits

{'Apple': 120, 'Orange': 20, 'pineapple': 90}

## **ZIP**

In [ ]:
#zip method
name = ["apple","manog","pineapple"]
prices = [120,100,300]
fruit = zip(name,prices)
print(type(fruit))

<class 'zip'>

## **ACCESSING**

In [ ]:
#Accessing elments
fruits = {
    "Apple" : 120,
    "Orange" : 20,
    "pineapple" : 90
}

fruits['Apple']
fruits['Orange']
#fruits["mango"]
fruits.get("Mango")
fruits.get("Apple")
fruits.get("Mango","Not available")

'Not available'

## **UPDATING DICT**

In [ ]:
#updating existing dictionary
fruits = {
    "Apple" : 120,
    "Orange" : 20,
    "pineapple" : 90
}

fruits["Apple"]
fruits["Apple"] = {"small" : 90, "large" : 120}
print(fruits)
fruits["mango"] = 80
fruits

{'Apple': {'small': 90, 'large': 120}, 'Orange': 20, 'pineapple': 90}

{'Apple': {'small': 90, 'large': 120},
 'Orange': 20,
 'pineapple': 90,
 'mango': 80}

In [ ]:
#update
new = {"grapes" : 120, "oranges" : 60, "berry" :20}
fruits
fruits.update(new)
print(fruits)

{'Apple': {'small': 90, 'large': 120}, 'Orange': 20, 'pineapple': 90, 'mango': 80, 'grapes': 120, 'oranges': 60, 'berry': 20}

In [ ]:
#deleting data from a dict
fruits = {
    "Apple" : 120,
    "Orange" : 20,
    "pineapple" : 90
}
"apple" in fruits

#dict.popitem()

fruits.popitem()
fruits

{'Apple': 120, 'Orange': 20}

In [ ]:
fruits.popitem()

('Orange', 20)

In [ ]:
#del object
fruits = {
    "Apple" : 120,
    "Orange" : 20,
    "pineapple" : 90
}

fruits
del fruits
fruits

NameError: ignored

## **ITERATING**

In [ ]:
#iterating in a dict
fruits = {
    "Apple" : 120,
    "Orange" : 20,
    "pineapple" : 90
}

for i in fruits:
  print(i)

for i in fruits:
  print(i, fruits[i])

Apple
Orange
pineapple
Apple 120
Orange 20
pineapple 90

## **USING DICT.ITEMS()**

In [ ]:
#using dict.items
for key,value in fruits.items():
  print(key, value)

Apple 120
Orange 20
pineapple 90

In [ ]:
#more methods of dict
#keys,values, items
fruits = {
    "Apple" : 120,
    "Orange" : 20,
    "pineapple" : 90
}

In [ ]:
fruits.keys()

dict_keys(['Apple', 'Orange', 'pineapple'])

In [ ]:
fruits.values()

dict_values([120, 20, 90])

In [ ]:
fruits.items()

dict_items([('Apple', 120), ('Orange', 20), ('pineapple', 90)])

In [ ]:
#take an input and find the freq of each letter and return the letter and their freq
n = input()
d={}
for i in n:
  #check for presence
  if i not in d:
    d[i] = 1
  #if present increment the freq by a factor 1
  else:
    d[i]+=1

print(d)

murali anamala
{'m': 2, 'u': 1, 'r': 1, 'a': 5, 'l': 2, 'i': 1, ' ': 1, 'n': 1}

In [ ]:
"""
Problem Description:

Given a dictionary, find the sum of values of every key in the dictionary.

Input Format:

The input contains two lines.
The first line has space-separated string values which are the keys of the dictionary.
The second line has space-separated integer numbers which are the values of the dictionary.
Output Format:

Print the sum of the values of the items as an integer.
"""
#input
keys = input().split()
values = map(int,input().split())

#create a dictionary
my_dict = dict(zip(keys,values))

#calculate the sum of values
sum_of_values = sum(my_dict.values())

#output
print(sum_of_values)

print(my_dict)

a b c
10 20 30
60
{'a': 10, 'b': 20, 'c': 30}

In [ ]:
'''Problem Description:

Given two dictionaries, write a program for creating a dictionary in such a way that it consists of all the keys that are common in both dictionaries.
The values corresponding to the keys in this new dictionary are the sum of the values of those keys in the two dictionaries.

Input Format:

The input contains four lines.
The first line is space-separated string values which are the keys of the first dictionary.
The second line is space-separated integer numbers which are values of the first dictionary.
The third line is space-separated string values which are the keys of the second dictionary.
The second line is space-separated integer numbers which are values of the second dictionary.
Output Format:

Print the resultant dictionary containing added values for common keys.'''

def commonKey(dict1,dict2):
  dict3 = {}
  k1 = [dict1.keys()]
  v1 = [dict1.values()]
  k2 = [dict2.keys()]
  v2 = [dict2.values()]

  print(k1,v1,k2,v2)

commonKey({"a":1,"b":2,"c":3},{"c":4,"d":2,"c":3})

[dict_keys(['a', 'b', 'c'])] [dict_values([1, 2, 3])] [dict_keys(['c', 'd'])] [dict_values([3, 2])]

# **SETS**

In [ ]:
#unique collection
#unorders (cant do indexing)
#unindexed
#mutable
l1 = [1,2,1,4,5,2,5,7,8]
l1
s1 = set(l1)
s1

# creating a set
s1 = {}
#set()
#set(iterable)
type(s1)
s1 = set()
type(s1)

#different methods of sets
"""
1. remove - removes specified element from the set
2. pop - removes any element randomly
3. add - adds an element to the set - duplicates not considered
4. update - add iterables (lists)  to the set
5. clear - remove all the data inside the set
6. copy - creates a carbon copy of set
7. intersection
8. intersetion_update
9. difference
10. difference_update
11. discard
12. issubset
13. isdisjoint
14. issuperset
"""

set

In [ ]:
#Non empty set
s1 = {1,2,1,4,5,2,5,7,8}
s1

{1, 2, 4, 5, 7, 8}

In [ ]:
s = set("murali")
s

{'a', 'i', 'l', 'm', 'r', 'u'}

## **UPDATE/DELETE**

In [ ]:
#UPDATE and DELETE set
#add - for single element
#update(iterable)

s = {1,2,3,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [ ]:
s.add(8)
s
s.add(8)
s

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
s
name="Murali"
s.update(name)
s

{1, 2, 3, 4, 5, 6, 8, 'M', 'a', 'i', 'l', 'm', 'r', 'u'}

In [ ]:
#deleting an element
s.pop()
s

{2, 3, 4, 5, 6, 8, 'M', 'a', 'i', 'l', 'm', 'r', 'u'}

In [ ]:
s.pop()

2

In [ ]:
s

{3, 4, 5, 6, 8, 'M', 'a', 'i', 'l', 'm', 'r', 'u'}

In [ ]:
s.remove("m")
s

{3, 4, 5, 6, 8, 'a', 'i', 'l', 'r', 'u'}

In [ ]:
a = s.pop()
a

3

In [ ]:
b = s.remove(6)
b
s

{4, 5, 'a', 'i', 'l', 'r', 'u'}

## **JOINS**
INTERSECTION - INNER JOIN
/UNION
/DIFFERENCE - LEFT JOIN

In [ ]:
#Intersection -- INNER JOIN
'''
returns common elements from 2 sets
'''
python = {"murali","manogna","sabitha"}
java = {"manogna","murali","taniksha","hemansree"}

s = set.intersection(python,java)
s
t = python.intersection(java)
t

{'manogna', 'murali'}

In [ ]:
java.intersection(python)

{'manogna', 'murali'}

In [ ]:
#Union method -- UNION
s = set.union(python,java)
print(s)

{'murali', 'manogna', 'sabitha', 'hemansree', 'taniksha'}

In [ ]:
python.union(java)

{'hemansree', 'manogna', 'murali', 'sabitha', 'taniksha'}

In [ ]:
#Difference -- LEFT JOIN
python.difference(java)
java.difference(python)

{'hemansree', 'taniksha'}

In [ ]:
'''
Challenge: count number of unique elements in a sentence
'''
sent = "be the change you wish to see in the world"
#unique world list - converted using set with split method
s = set(sent.split())
#num = 0
#for i in s:
#  num+=1

#print(num)
len(s)

9

In [ ]:
'''
Frequency of unique elements
Problem Description:

Write a function to print out the frequency of all the unique elements present in a given tuple.

Input Format:

The one input line consists of a tuple.
Output Format:

Unique elements and their frequencies are expected to be printed as follows:
unique_element1 : freq1
unique_element2 : freq2
.
.
Sample Input:

(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
Sample Output:

10 : 3
8 : 4
5 : 2
2 : 2
15 : 1
'''

def unique_count(tup):
  freq_dict = {}
  for element in tup:
    if isinstance(element,list):
      element = tup(element)
    if element in freq_dict:
      freq_dict[element] += 1
    else:
      freq_dict[element] = 1

  for element,freq in freq_dict.items():
    print(f"{element} : {freq}") if not isinstance(element,tuple) else print(f"{list(element)} : {freq}")

a = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
unique_count(a)

10 : 3
8 : 4
5 : 2
2 : 2
15 : 1

# **FUNCTIONS**

In [ ]:
'''
Function is user defined code. It works only when it's called by a user. It helps in reusability of code and helps in reducing errors in the code
Ex: print,range etc

- Helps in reusability
- Make code manageable and organized

Two types:
- User defined
- In-built
'''

## **DEFINIG FUNCTION**

In [ ]:
def greet():
  """
  This function greets when every one calls
  """
  print(f"Hey good morning!")

Hey good morning!

In [ ]:
type(greet)
greet()

Hey good morning!

## **DOC STRING**

In [ ]:
greet?

## **PARAMETER & ARGUMENTS**

In [ ]:
'''
These are place holders in the function
when defining them we call them as Parameters
When passing the actual value we call them as arguments
'''

In [ ]:
def greet(name):
  #name is Parameter
  """
  This function greets when every one calls
  """
  print(f"Hey good morning! {name}")

In [ ]:
greet("Murali")
#arguments
greet("Manogna")

Hey good morning! Murali
Hey good morning! Manogna

In [ ]:
def add(a,b):
  c = a + b
  print(f"{c}")

add(4,5)

9

## **RETURN**

In [ ]:
'''
- A function call ends when return statement is executed
- it returns the expression back to the function
- The code after return statement are not executed
- If there is no return value then function returns None
'''

In [ ]:
#Return vs print
def add(a,b):
  c = a + b
  print(c)

In [ ]:
add(3,4)

7

In [ ]:
def add(a,b):
   c = a + b
   return c

b = add(3,4)
print(b, type(b))

7 <class 'int'>

In [ ]:
# If no return object then it returns Nonetype
def func():
  return

func()
type(func())

NoneType

In [ ]:
#code after return statement doesnt get executed
def func():
  print("before return")
  return "Murali"
  print("after return")

func()

before return

'Murali'

In [ ]:
a = func()

before return

In [ ]:
a

'Murali'

## **RETURNING MULTIPLE VALUES**

In [ ]:
def intro(name,age,hobby):
  return name,age,hobby

c,d,e = intro("Murali",39,"watching movies")
print(c)
print(d)
print(e)
f = intro("Murali",39,"watching movies")
print(f, type(f))

Murali
39
watching movies
('Murali', 39, 'watching movies') <class 'tuple'>

## **SCOPE OF A VARIABLE**

In [ ]:
'''
There are 2 scope of a variable: Global and Local
Global: can be used anywhere in a program
LOCAL: only be used locally inside a program(function)
'''

In [ ]:
# a can be used anywhere in the program
a = 5
def func():
  #x is local variable to the function
  x = 3
  print(a)
  print(x)

print(a)
func()
#print(x)

5
5
3

In [ ]:
a = 5
def func():
  a = 20
  print(a)

print(a)
func()

5
20

In [ ]:
a = 5
def func():
  #global changes to a into golbal variable
  global a
  a = 20
  print(a)

print(a)
func()
print(a)

5
20
20

## **LAMBDA**

In [ ]:
'''
These are mainly used when we need nameless functions for short period of time (mainly for arithmatic)
'''

In [ ]:
def add(a,b):
  return a+b

add(3,4)

7

In [ ]:
#lambda (params): return
(lambda a,b : a+b)(3,4)

7

In [ ]:
func = lambda a,b: a+b
type(func)

function

In [ ]:
func(5,4)

9

In [ ]:
def larger(a,b):
  if a > b:
    return a
  else: return b

larger(5,4)

5

In [ ]:
larger = lambda x,y: x if x>y else y

larger(45,65)

65

In [ ]:
l = [(12,56),(2,4),(5,3)]
l

[(12, 56), (2, 4), (5, 3)]

In [ ]:
l.sort()
l
#o index based sort

[(2, 4), (5, 3), (12, 56)]

In [ ]:
def k(x):
  return x[1]

In [ ]:
l.sort(key=k)
l
#1 index based sort

[(5, 3), (2, 4), (12, 56)]

In [ ]:
l = [(12,56),(2,4),(5,3)]
l.sort(key = lambda x: x[1])
print(l)
l.sort(key = lambda x: x[1],reverse=True)
print(l)

[(5, 3), (2, 4), (12, 56)]
[(12, 56), (2, 4), (5, 3)]

## **CHALLENGE1**

In [ ]:
'''
write a python function to print even numbers from a given list
input = [1,2,4,3,5,6]
output = 2 4 6
'''

In [ ]:
l = [1,2,4,3,5,6]

def even(li):

  #Iterate on the list
  for i in li:
    if i%2 == 0:
      print(i, end=" ")

even(l)

2 4 6

## **CHALLENGE2**

In [ ]:
'''
write a python function that takes a list and returns a new list with unique elements of the first list
input = [1,2,3,1,2,4]
output = [1,2,3,4]
'''
l1 = [1,2,3,1,2,4]

def uniq_list(l):
  s = set(l)
  return list(s)

uniq_list(l1)

[1, 2, 3, 4]

In [ ]:
def uniq(l):
  new = []
  for i in l:
    if i not in new:
      new.append(i)
  return new

uniq(l1)

[1, 2, 3, 4]

## **ARGUMENT VS PARAMETER**

In [ ]:
'''
These are place holders in the function
when defining them we call them as Parameters
When passing the actual value we call them as arguments
'''

## **POSITIONAL ARGUMENTS**

In [ ]:
# The value you can pass when calling a function are matched according to their positions
def intro(name,hobby):
  print(f"my name is {name} and hobby is {hobby}")

intro("Murali","watch")
intro("watch","Murali")
#intro("Murali")

my name is Murali and hobby is watch
my name is watch and hobby is Murali

## **DEFAULT ARGUMENTS**

In [ ]:
'''
Giving default values to parameters
for these parameters passing value in arguments in optional
'''

In [ ]:
print?

In [ ]:
def intro(name,hobby="None"):
  print(f"my name is {name} and hobby is {hobby}")

intro("Murali")

intro("Manogna","Painting")

my name is Murali and hobby is None
my name is Manogna and hobby is Painting

## **Positioning of default and non-default arguments**

In [ ]:
def intro(name="Murali",hobby):
  print(f"my name is {name} and hobby is {hobby}")


#Default argument should not use as first argument

## **Arbitrary Arguments**

In [ ]:
# * args
# when number of values you want to pass is not known
#like we pass multiple values in print function
#values are being stored in tuple

In [ ]:
def test(*args):
  print(args)
  #iterate and print
  for i in args:
    print(i*i,end=" ")

#test(1,2,3, "murali", 1.5)
test(1,2,3,4)
#returning in a tuple format

(1, 2, 3, 4)
1 4 9 16

## **KEYWORD ARGUMENTS**

In [ ]:
# Variable number of key word arguments
# it stores the data in dictionary format

In [ ]:
def intro(**kwargs):
  #print(kwargs)
  print(type(kwargs))
  for k,v in kwargs.items():
    print(k, v)

intro()
type(intro())

<class 'dict'>
<class 'dict'>

NoneType

In [ ]:
intro(name="murali", age=39)

<class 'dict'>
name murali
age 39

In [ ]:
intro(name="Murali", age=39, hobb = ["watch","swim","learn"])

<class 'dict'>
name Murali
age 39
hobb ['watch', 'swim', 'learn']

In [ ]:
def mix(a,b,c, age=39, *args, **kwargs):
  print(a,b,c,age,args,kwargs)

In [ ]:
mix(1,2,3,2,1,2,33, name="murali")
mix(1,2,3)

1 2 3 2 (1, 2, 33) {'name': 'murali'}
1 2 3 39 () {}

In [ ]:
def intro1(**kwargs, * args):
  print(args)
  print(kwargs)

# first args and then kwargs

SyntaxError: ignored

## **CHALLENGES ON FUNCTIONS**

In [ ]:
'''
Problem Description:

Write a function to calculate and return the area of a circle by using the radius of the circle given as a parameter.

Notes:

 Round up the area to 2 decimal places. You can use the round() function.
 Use pi as 3.14159.
 You need not take input in this problem, you need to only implement the function provided.
Input Format:

The first line indicates the number of the test cases.
For each test case there will be one line of input in integer format representing radius.
Output Format:

Area in float format rounded upto 2 decimal places for each testcase.
'''

In [ ]:
def circle_area(r):
  return round(3.14159 * (r^2),2)

In [ ]:

  n = int(input("Enter no of test cases: "))
  l = []
  for i in range(n):
    r = int(input("Enter raidus value in integer: "))
    l.append(r)

  for j in l:
    area = circle_area(j)
    print(f"area of j is {area}")

Enter no of test cases: 1
Enter raidus value in integer: 5
area of j is 21.99

In [ ]:
'''
Time to end Corona
Problem Description
Given three integers, A, B and C. You have to find the number of days it will take to reach zero cases of Corona in a city.

A - Average cases recovered in a day of the corona.
B - Number of new cases of corona daily.
C - Current active cases of the corona.

Return the minimum number of days it will take to reach 0 active cases of Covid.

Problem Constraints

1 <= B < A <= 5000
1 <= C <= 1000


Input Format

The first argument will be integer A, which denotes the recovered cases in a day.
The second argument will be integer B, which denotes the new cases in a day.
The third argument will be integer C, which denotes the currently active cases.


Output Format

Return an integer which denotes the minimum days to reach 0 cases.
'''

In [ ]:
def solve(A,B,C):
  min_days = 0
  while (C != 0 and C > 0):
    min_days += 1
    C = ((B + C) - A)
  print(f"Min days to reach 0 cases: {min_days}")

In [ ]:
solve(5,3,1)
solve(4,3,2)

Min days to reach 0 cases: 1
Min days to reach 0 cases: 2

In [ ]:
def convert(t):
    return t*9/5 + 32

print(convert(20))

68.0

# **OOP in PYTHON**

In [ ]:
'''
Object oriented programming
The principles of OOPs are based on 4 pillars apart from Class and Objects
A Class has attributes and behaviour

1. Encapsulation
2. Astraction
3. Polymorphism
4. Inheritance
'''

In [ ]:
#Objects - real world entities , it can be a car, humans, tickets and bank a/c
# 2, 3 are objects of int class

#Class - Template or blueprint for creating object

#ABSTRACTION:
# - means displaying only essential information and hiding details
# - ex: car will accelerated but internal working of engine not exposed

# ENCAPSULATION:
# - Bundling of data into a single unit
# - Bundling of all methods that can act on an object of that data
# - car can have colors, brake, engine and a lot of other methods

# Inheritance
# - When a class derives from another class
# - Any now ear company can inherit all the information from car class

# Polymorphism
# - The word "polymorphism" means having many forms
# - Same class method can work differently for different objects

## **CREATE CLASS & OBJECT**

In [ ]:
'''
Creating a class
- Its a blue print to create objects
- class keyword used to create classes
- By general convention we start name with capital letter
- Ex: int,float,string etc
'''

In [ ]:
class Sample:
  pass

In [ ]:
'''
OBJECTS
- objects are instances or entities of a class
- it has all properties of it's class
ex: 1,2 are objects of int class
'''

In [ ]:
Murali = Sample()

In [ ]:
type(Murali)

__main__.Sample

In [ ]:
type(1)

int

## **CONSTRUCTOR**

In [ ]:
'''
A constructor is a special method used to create and initialize an object of a class
- This is method is defined in the class
- The constructor is executed automatically at the time of object creation
'''

In [6]:
class Human:
  #I want some properties to be with every human objects
  #Dunner __
  # self parameter --- assinging arguments to parameters of different objects
  def __init__(self,name,age,gender,hobby):
    self.name = name
    self.age = age
    self.gender = gender
    self.hobby = hobby

In [8]:
Murali = Human("Murali",29,"M","Watch")

In [9]:
Manogna = Human("Manogna",9,"F","Studying")

In [10]:
print(Manogna)

<__main__.Human object at 0x7bb3c3a9b550>

In [12]:
Murali.age
Murali.name

'Murali'

In [13]:
Manogna.hobby

'Studying'

## **METHODS**

In [ ]:
#Apart from special methods you can make your custom methods
# Ex: Human can speak, walk, greet etc

In [14]:
class Human:
  #I want some properties to be with every human objects
  #Dunner __
  # self parameter --- assinging arguments to parameters of different objects
  #Constructor###########
  #common for all objects
  def __init__(self,name,age,gender,hobby):
    self.name = name
    self.age = age
    self.gender = gender
    self.hobby = hobby
  # methods
  def greet(self):
    print(f"Hey, My name is {self.name}. Good Morning!!")

In [15]:
Murali = Human("Murali",29,"M","Watch")

In [16]:
Murali.greet()

Hey, My name is Murali. Good Morning!!

In [19]:
Murali.nationality = "India"

In [20]:
Murali.nationality

'India'

In [17]:
Manogna = Human("Manogna",9,"F","Studying")

In [18]:
Manogna.greet()

Hey, My name is Manogna. Good Morning!!

In [21]:
Manogna.name = "Manogna Sai sree"

In [22]:
Manogna.greet()

Hey, My name is Manogna Sai sree. Good Morning!!

## **CLASS VARIABLES**

In [ ]:
# These are common to the class
#Ex: Population of Human class is common to all objects

In [27]:
class Human:
  # Class Variables
  population = 0
  data = []

  #Constructor###########
  #common for all objects
  def __init__(self,name,age):
    self.name = name
    self.age = age

    #Increment population for every new human object
    Human.population += 1
    Human.data.append(self.name)
  # methods
  def greet(self):
    print(f"Hey, My name is {self.name}. Good Morning!!")

In [28]:
Murali = Human("Murali",29)

In [29]:
Manogna = Human("Manogna",9)

In [30]:
Human.population

2

In [31]:
Human.data

['Murali', 'Manogna']

## **Adding Methods to Class**

In [67]:
class Human:
  # Class Variables
  population = 0
  data = []

  #Constructor###########
  #common for all objects
  def __init__(self,name,age, alive = True):
    self.name = name
    self.age = age
    self.alive = alive

    #Increment population for every new human object
    Human.population += 1
    Human.data.append(self.name)
  # methods
  def greet(self):
    print(f"Hey, My name is {self.name}. Good Morning!!")

  def dead(self):
    if self.alive:
      Human.population -= 1
      print(f"{self.name} is no more")
      self.alive = False
    else:
      print(f"This person already dead")


  def child(self,number):
    Human.population += number

In [68]:
A1 = Human("A1", 65)

In [69]:
A2 = Human("A2",45)

In [65]:
Human.population

2

In [58]:
A1.dead()

This person already dead

In [72]:
Human.population

4

In [71]:
A1.child(2)

## **INHERITANCE**

In [ ]:
# When a class derives every attributes and methods from other classe
# It gets access to all its methods and attributes
# This helps in reusability of code

In [115]:
class Human:
  # Class Variables
  population = 0
  data = []

  #Constructor###########
  #common for all objects
  def __init__(self,name,age, alive = True):
    self.name = name
    self.age = age
    self.alive = alive

    #Increment population for every new human object
    Human.population += 1
    Human.data.append(self.name)
  # methods
  def greet(self):
    print(f"Hey, My name is {self.name}. Good Morning!!")

  def dead(self):
    if self.alive:
      Human.population -= 1
      print(f"{self.name} is no more")
      self.alive = False
    else:
      print(f"This person already dead")


  def child(self,number):
    Human.population += number

In [73]:
h1 = Human("Murali", 39)
h21 = Human("Manogna", 9)

In [ ]:
#Inhertiance

In [74]:
class Employee(Human):
  pass

In [75]:
e1 = Employee("Murali",39)

In [78]:
Employee.population
e1.greet()

Hey, My name is Murali. Good Morning!!

## **Addin attributes in derived class**

In [96]:
#Human is base class
#Employee is derived class

class Employee(Human):
  # re-initiate constructor
  def __init__(self,name,age,company,post):
    super().__init__(name,age)

    #attributes for employee class
    self.company = company
    self.post = post

In [97]:
h1 = Human("Murali", 39)
h21 = Human("Manogna", 9)

In [98]:
Human.population

2

In [100]:
e1 = Employee("Murali",39,"gen","lead")

In [101]:
Human.population

3

In [102]:
Employee.population

3

In [116]:
class Employee(Human):
  # re-initiate constructor
  def __init__(self,name,age,company,post):
    super().__init__(name,age)

    #attributes for employee class
    self.company = company
    self.post = post

    # ADD some methods
  def hire(self,person):
    print(f" {person} has been hired by the company")
    Human.data.append(person)
    Human.population += 1

In [117]:
h1 = Human("Murali", 39)
h21 = Human("Manogna", 9)

In [118]:
e1 = Employee("Murali",39,"gen","lead")

In [120]:
e1.hire("Manogna")

 Manogna has been hired by the company

In [121]:
Human.data

['Murali', 'Manogna', 'Murali', 'Manogna']

In [122]:
Employee.data

['Murali', 'Manogna', 'Murali', 'Manogna']

In [123]:
Human.population

4

In [124]:
e2 = Employee("Employee1",70,"XYZ","XYZ")

In [125]:
e2.data

['Murali', 'Manogna', 'Murali', 'Manogna', 'Employee1']

In [131]:
e2.dead()

This person already dead

In [129]:
Human.data

['Murali', 'Manogna', 'Murali', 'Manogna', 'Employee1']

In [130]:
Employee.population

4

## **POLYMORPHISM**

In [ ]:
#means having many forms
#same class method work differently for different objects

In [132]:
class Hello:
  def speak(self,lan):
    print(f"I can speak in {lan}")

In [133]:
h1 = Hello()
h2 = Hello()

In [134]:
h1.speak("Telugu")

I can speak in Telugu

In [135]:
h2.speak("English")

I can speak in English

## **CHALLENGE**

In [138]:
# Write a Python program to create a Vehicle class with max_speed and mileage instance attributes.

class Vehicle:

  def __init__(self,max_speed,mileage):
    self.max_speed = max_speed
    self.mileage = mileage

In [139]:
Modelx = Vehicle(240,18)

In [140]:
print(Modelx.max_speed, Modelx.mileage)

240 18

In [143]:
# Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

n  = int(input())
pre = 0
sum = 0
print(f"Printing current and previous number sum in a range({n})")
for i in range(n):
  sum = i + pre
  print(f"Current number {i} Previous Number {pre} Sum : {sum}")
  pre = i

10
Printing current and previous number sum in a range(10)
Current number 0 Previous Number 0 Sum : 0
Current number 1 Previous Number 0 Sum : 1
Current number 2 Previous Number 1 Sum : 3
Current number 3 Previous Number 2 Sum : 5
Current number 4 Previous Number 3 Sum : 7
Current number 5 Previous Number 4 Sum : 9
Current number 6 Previous Number 5 Sum : 11
Current number 7 Previous Number 6 Sum : 13
Current number 8 Previous Number 7 Sum : 15
Current number 9 Previous Number 8 Sum : 17

In [149]:
# Write a program to accept a string from the user and display characters that are present at an even index number.
s = "pynative"
for i in range(len(s)):
  if i % 2 == 0:
    print(s[i])

p
n
t
v