<a href="https://colab.research.google.com/github/muralianamala/pythonlearning/blob/main/LearningPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#easy to understand, general purpose programming language
# Guido van Rossum in 1993
#advantages
#1. easy to code, 2. improve productivity, 3. vast library support, 4. lot of carrer options, 5. used almost everywhere
# google, youtube, netflix, instgram
#ai and ml, data analytics, programming applications, web development, game development and more

In [ ]:
#overall structure
print("hello world")

hello world

In [ ]:
#variables
#variables are place holders to store the data
#variable_name(identifier) (assign operator =) value to be assigned
#variable must start with a letter or underscore
#variable can not start with number
#can contain alpha numeric and underscore (A-z,0-9, _)
#case sensitive
#inbuild keywords should not be used as identifier
a=5
print(a)
murali_12 = "Murali"
print(murali_12)

5
Murali

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
help("elif")

The "if" statement
******************

The "if" statement is used for conditional execution:

   if_stmt ::= "if" assignment_expression ":" suite
               ("elif" assignment_expression ":" suite)*
               ["else" ":" suite]

It selects exactly one of the suites by evaluating the expressions one
by one until one is found to be true (see section Boolean operations
for the definition of true and false); then that suite is executed
(and no other part of the "if" statement is executed or evaluated).
If all expressions are false, the suite of the "else" clause, if
present, is executed.

Related help topics: TRUTHVALUE

In [ ]:
#memory allocation
x=5
y=6
#variables store STACK memory
#values store in HEAP memory
#both stored in memory
#reference
#Id functions
id(x)
print(id(x))

137396557562224

In [ ]:
x= 45
print(id(x))

137396557563504

In [ ]:
print(137396557562224)

137396557562224

In [ ]:
name = "Murali"
print(id(name))

137395510420336

In [ ]:
#comments
# -- comment of single line

In [ ]:
#data types
#int, float,boolean, strings and none
n1 = 24
print(n1)
# type
print(type(n1))
print("a")

#float
f=1.0
print(type(f))

f1 = 2.23
print(type(f1))

#Booleans (True & False)
b= True
print(type(b))

b1= False
print(type(b1))

#b2 = true

#Strings
# should contain within quotes (',",""",''')
a="Murali 1234 learning python 2023"
print(type(a))
#multi line comments
m= """ multi line string

"""
print(m)
print(type(m))


# None ( no value nothing)
n = None
print(type(n))
print(n)

24
<class 'int'>
a
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>
 multi line string


<class 'str'>
<class 'NoneType'>
None

In [ ]:
#input functions
name=input()
print(name)
print(type(name))

murali
murali
<class 'str'>

In [ ]:
# number as input
x=int(input())

6

In [ ]:
print(x)
print(type(x))

6
<class 'int'>

In [ ]:
#type conversion
x
y = float(x)
print(type(y))

c =float("1.5")
type(c)
print(type(int(c)))

<class 'float'>
<class 'int'>

In [ ]:
#print function
print("murali")
print("murali","manogna","sabitha",12,3,2234,end='\t')

murali
murali manogna sabitha 12 3 2234

In [ ]:
#changing default seperator and end

print("murali","manogna","sabitha",12,3,2234,sep='',end='\t')
print("murali","manogna","sabitha",12,3,2234,sep=',',end='\t')
print("murali","manogna","sabitha",12,3,2234,sep='\n',end='\t')

muralimanognasabitha1232234	murali,manogna,sabitha,12,3,2234	murali
manogna
sabitha
12
3
2234

In [ ]:
def con(str1,str2):
  return print(str1,str2,sep="")

con("murali","manogna")

muralimanogna

In [ ]:
#python operators
#operators
#operand
#arithmatic operators

#addition
print(10+5)
#substraction
print(10-5)
#division
print(10/5)
#mod (%)
print(10 % 5)
#multiplication
print(10* 5)
#floor division (//)
print(10//5)
#to the power (**)
print(10 ** 5)

15
5
2.0
0
50
2
100000

In [ ]:
print(1.5+1)
#string concatenation
print("murali"+"anamala")
print("murali" * 3)

2.5
muralianamala
muralimuralimurali

In [ ]:
#modulus operators (%)

print(5%3)
print(10%10)
#floor division -- nearest small integer
print(5 // 3)
print(-3//2)

2
0
1
-2

In [ ]:
#logical comparision operators
"""
== equal
!= not equal
< less than
> greater than
<= less than or equal to
>= greater than equal to
"""

'\n== equal\n!= not equal\n< less than\n> greater than\n<= less than or equal to\n>= greater than equal to\n'

In [ ]:
#assignment operators
"""
=
-=
+=
/=
*=
"""

In [ ]:
#logical operator
"""
and
or
not
"""

#special operators
"""
in
is
operators
"""

name="murali"
"r" in name
"R" in name
"ila" in name

#is operator tells you if both the object are at same memory location
a=5
b=5
print(id(a),id(b))
a is b

a= 34
b= 45

print(id(a), id(b))

a is b

136970031497584 136970031497584
136970031498512 136970031498864

False

In [ ]:
print(0 or 1)

1

In [ ]:
#control flow statement
#if-else
#indentation
age=int(input())

if age>18:
  print(f"you can drive")
else:
  print(f"wait till you turn 18")

20
you can drive

In [ ]:
#nested if
age=int(input())
if age > 18:
  if age>=65:
    print(f"Take care")
  else:
      print(f"you are elgible")
else:
  print(f"wait till turn 18")

18
wait till turn 18

In [ ]:
#if, elif, else
num=int(input())
if num>0:
  print(f"+ve")
if num == 0:
  print(f"zero")
else:
  print(f"-ve")

12
+ve
-ve

In [ ]:
num=int(input())
if num>0:
  print(f"+ve")
elif num == 0:
  print(f"zero")
else:
  print(f"-ve")

-1
-ve

In [ ]:
marks=[90,30,100,50,80,95]
highest=marks[0]
for i in marks:
  #print(i)
  if i > highest:
    highest = i

print(highest)

100

In [ ]:
#max function
max(marks)
min(marks)

30

In [ ]:
#grading system
"""
A: >= 90
B: =80 and <90
C: =70 and <80
D: =60 and <70
E: <60
"""
#marks=[90,30,100,50,80,95]
marks = int(input())
if marks>=90 and marks<=100:
  print(f"grade A")
elif marks>=80 and marks<90:
  print(f"grade B")
elif marks>=70 and marks<80:
  print(f"grade C")
elif marks>=60 and marks<70:
  print(f"grade D")
elif marks<60:
  print(f"grade E")
else:
  print(f"invalid")

120
invalid

In [ ]:
#leap year
def solve(A):
    if (A%400 ==0 ) and (A%100  == 0):
      return 1
    elif (A%4 == 0) and (A%100 != 0):
      return 1
    else: return 0

solve(2000)
solve(2040)
solve(2023)

0

In [ ]:
#Given a positive integer A, return an array of strings with all the integers from 1 to N.
#But for multiples of 3 the array should have “Fizz” instead of the number.
#For the multiples of 5, the array should have “Buzz” instead of the number.
#For numbers which are multiple of 3 and 5 both, the array should have "FizzBuzz" instead of the number.

def fizzBuzz(A):
  result = []
  for i in range(1, A+1):
    if i%3==0 and i%5 ==0:
      result.append("FizzBuzz")
    elif i%3 ==0:
      result.append("Fizz")
    elif i%5 == 0:
      result.append("Buzz")
    else:
      result.append(str(i))
  return result

fizzBuzz(15)

['1',
 '2',
 'Fizz',
 '4',
 'Buzz',
 'Fizz',
 '7',
 '8',
 'Fizz',
 'Buzz',
 '11',
 'Fizz',
 '13',
 '14',
 'FizzBuzz']

In [ ]:
#Loops
##for
#while
i =1
while i <= 6:
  print(f"hey")
  i+=1

hey
hey
hey
hey
hey
hey

In [ ]:
#print numbers 1 to 10
i = 1
while i<=10:
  print(i, end=" ")
  i+=1

#print all even numbers from 1 to 10
i = 0
while i<= 10:
  if i%2 == 0:
    print(i,end=" ")
  i+=1

#print sum all numbers 1 to 10
i = 0
sum = 0
while i <= 10:
  sum += i
  i += 1
print(sum)

1 2 3 4 5 6 7 8 9 10 0 2 4 6 8 10 55

In [ ]:
#range function
#range function allows users to generate series of numbers
#it is iterable as well
print(list(range(0,5,2)))
print(list(range(10,50,10)))
print(list(range(1,5)))
#start is included and end is excluded
print(list(range(3,5)))

[0, 2, 4]
[10, 20, 30, 40]
[1, 2, 3, 4]
[3, 4]

In [ ]:
print(list(range(10,0,-1)))
print(list(range(-1,10)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#iterable iterator and iteration
#for loop
#for iterator in iterable:
#---- body
#range is iterable
sum=0
for i in range(1,11):
  print(i,end=" ")
  sum+=i
print(sum)

1 2 3 4 5 6 7 8 9 10 55

In [5]:
#multiplication table of 5
num = int(input())
for i in range(1,11):
  print(num*i, end=" ")

5
5 10 15 20 25 30 35 40 45 50

In [8]:
#pattern
#n=4
# # # #
# # # #
# # # #
# # # #

n = int(input())
for i in range(1,n+1):
  for j in range(1,n+1):
    print('#', end= " ")
  print()

5
# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [11]:
#n=4
#
# #
# # #
# # # #
n = int(input())
for i in range(1,n+1):
  for j in range(i):
    print("#", end=" ")
  print()

4
#
# #
# # #
# # # #

BREAK, CONTINUE and PASS

In [13]:
#Break: breaks the folow of program once this condition is hit
#continue: it skips that particular section
#pass: to avoid syntax erros
for i in range(1,11):
  pass

def func():
  pass

# Continue
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [16]:
#break
for i in range(1,11):
  if i==5:
    break
  print(i)

i = 1
while i < 10:
  if i == 5:
    break
  print(i)
  i+=1

1
2
3
4
1
2
3
4

In [21]:
n = int(input())

for i in range(1,n+1):
  for j in range(1,(n-i+1)):
    print("",end=" ")
  print("*" * (i+(i-1)))

7
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [23]:
#prime number
n = int(input())
a = False
if n == 1:
  print(a)
elif n > 1:
  for i in range(2,n):
    if (n % i) == 0:
      a = True
      break
  if a:
    print(False)
  else:
    print(True)

1
False

 Strings

In [ ]:
#string is a sequence of characters
#ord and chr